/*Body*/
body {
    background-color: #86563f;
    color: #f2dfd3;
    text-align: center;
    background-position: aleign;
    background-repeat: no-repeat;
}

/*Menu de navegação*/
.baner-header {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 100% 70%;
}

header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #86563f;
    height: 120px;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menu ul li a button {
    font-size: 35px;
    background-color: #b88b5c;
    border: none;
    color: #f2dfd3;
    text-transform: uppercase;
    padding: 15px;
}

.logotipo  img {
    width: 100%;
    height: 100%;
    
}


/*Titulos da página*/
.titulo-pagina {
    font-size: 100px;
    padding: 10px;
}

.subtitulo-pagina {
    font-size: 70px;
    padding: 10px;
}

.main-catalogo h1 {
    font-size: 70px;
    padding: 10px;
    background-color:#b88b5c;
    margin: 20px 20px;
}

.sapatos section main {
    justify-content: space-around;
}

footer {
    font-size: 20px;
}